
:root {
  --home-bg-color: #f2f3ee;
  --color: #373b44;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --alpha-green: rgba(33, 96, 47, 0.51);
  --icon-hover-color: #344a39;
  --icon-hover-bg: #709680;
  --text-color: #616161;
  --border-color: #709680;
  --heading-color: #344a39;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #86a58d;
  --light-green: #9ab09a;
  --dark-green: rgba(52, 74, 57, 0.86);
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: rgba(57, 87, 64, 0.55);
  }
  strong {
  text-decoration: underline;
  }
  
  *,
  *::before,
  *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  }
  
  body,
  html {
  width: 100%;
  font-size: 10px;
  color: var(--text-color);
  font-weight: normal;
  font-family: sans-serif;
  }
  
a,i,button{
  cursor: pointer;
}

  #ham-menu {
  display: none;
  }
  
  label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 0;
  left: 2%;
  z-index: 11;
  width: 60px;
  height: 60px;
  background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);
  }
  
  .ham-menu {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 10;
  background: linear-gradient(50deg, #1a261d 60%, var(--dark-green) 50%);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  #home_section,
  #project_section,
  #about_section,
  #contact_section {
  position: absolute;
  }
  
  .ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
  }
  
  .ham-menu > ul > li > a {
  font-size: 8rem;
  line-height: 1.3em;
  white-space: nowrap;
  letter-spacing: 0.1em;
  color: white;
  }
  
  .link_section:hover {
  transform: scaleY(4px);
  }
  
  .header_style {
  font-size: 10em;
  white-space: nowrap;
  font-weight: 900;
  letter-spacing: 0em;
  color: rgb(97, 97, 97);
  }
  
  #ham-menu:checked + label {
  background-color: transparent;
  border-color: var(--dark-green);
  }
  
  #ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
  }
  
  [for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  }
  
  .menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: left center;
  }
  
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
  }
  
  #ham-menu:checked + label span {
  background-color: var(--dark-green);
  }
  
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
  }
  
  #ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
  }
  
  #ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
  }
  
  #ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
  }
  
  #ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
  }
  
  .text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold";
  }
  
  .line_hi {
  font-family: "OpenSansCondensed-Bold";
  font-weight: 800;
  font-size: 45px;
  color: black;
  }
  
  .heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold";
  }
  
  .centre-text {
  text-align: center;
  }
  
  .bold-text {
  font-weight: bold;
  }
  
  .home_div,
  .about_div {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 75vh;
  }
  
  .project_div {
  position: relative;
  width: 100%;
  display: flex;
  }
  
  .left_side,
  .footer_style,
  .submit-btn {
  background-color: rgba(33, 96, 47, 0.51);
  }
  
  .left_side {
  display: flex;
  flex-direction: column;
  }
  
  .left_side {
  width: 55%;
  justify-content: center;
  align-content: center;
  align-items: center;
  }
  
  
  @keyframes slide_all {
  0% {
  transform: translateX(-80px);
  opacity: 1;
  color: white;
  }
  
  51% {
  color: black;
  }
  
  100% {
  transform: translateX(80px);
  opacity: 1;
  }
  }
  
  .dark_mode_div {
  width: 100%;
  text-align: end;
  padding-right: 2%;
  }
  
  .darkMode {
 
  font-size: 40px;
  }
  
  .theBoard {
  position: relative;
  width: 80%;
  height: 60%;
  display: grid;
  z-index: 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: auto;
  }
  
  .image_part {
  width: 100%;
  height: 100%;
  }
  
  .about_div,
  .right_side {
  padding-top: 1%;
  padding-bottom: 2%;
  }
  
  .right_side{
  width: 45%;
  }

  .about_left_div, .about_right_div
  .left_side {
  width: 100%;
  min-height: 85vh;
  }
  .about_left_div {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 2%;
   z-index: 0;
    }

    .about_left_div i {
      font-size: 25px;
      visibility: hidden;
      transition: visibility 1s;
    }
  
  .about_right_div {
    z-index: 9;
    padding: 3% 2%;
  align-items: center;
  align-content: center;
  }
  
  
  .descr_p {
  font-size: 2.8em;
  font-weight: 600;
  font-family: "OpenSansCondensed-Bold";
  color: var(--icon-hover-bg);
  padding: 4px;
  line-height: 2.5em;
  margin-bottom: 2%;
  }
  
  .dark_mode {
  animation: fadeDarkMode 1.5s ease;
  background-color: #2d2d2d;
  }
  
  @keyframes fadeDarkMode {
  0% {
  background-color: #e9e9e9;
  }
  
  20% {
  background-color: #d1d1d1;
  }
  
  40% {
  background-color: #bababa;
  }
  
  50% {
  background-color: #a3a3a3;
  }
  
  60% {
  background-color: #8b8b8b;
  }
  
  70% {
  background-color: #747474;
  }
  
  80% {
  background-color: #5d5d5d;
  }
  
  100% {
  background-color: #454545;
  }
  }
  
  .all_project_div {
  position: relative;
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(33, 96, 47, 0.51);
  padding-bottom: 1%;
  }
  
  .project_text {
  margin: 1% 0 2% 2%;
  }
  
  .project_div {
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .project_card_div {
  position: relative;
  width: 30%;
  height: 500px;
  }
  
  .project_img_div {
  width: 100%;
  height: 500px;
  border-radius: 6px;
  position: absolute;
  }
  
  .project_info_div {
  height: 500px;
  width: 100%;
  overflow: hidden;
  padding: 30px 20px;
  background-color: white;
  visibility: hidden;
  }
  
  .show_project_info {
  animation: diagonalEntry 0.8s ease-in;
  animation-fill-mode: forwards;
  padding-top: 15px;
  visibility: visible;
  }
  
  @keyframes diagonalEntry {
  from {
  transform: scale(0, 0);
  }
  
  to {
  transform: scale(1, 1);
  }
  }
  
  .link_l {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
  
  .project_description_div {
  width: 100%;
  height: 410px;
  padding: 80px 20px;
  }
  
  .featured_text {
  font-size: 3.0em;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(97, 97, 97);
  }
  
  .undo_a {
  text-decoration: none;
  color: #808080;
  }
  
  .project_tech_div {
  width: 100%;
  display: flex;
  gap: 2%;
  }
  
  .project_card_div img {
  height: 100%;
  width: 100%;
  }
  

  
  .footer_style,
  .contact_social {
  width: 100%;
  }
  
  .social_size {
  font-size: 3.5em;
  margin-right: 15px;
  }
  
  .social_size:hover {
  transform: scale(1.2);
  }
  
  #last_p {
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgb(97, 97, 97);
  }
  
  .right_div img {
  width: 100%;
  height: 100%;
  }
  
  .slide_in {
  animation: slideMe 1.5s ease-in;
  }
  
  .slide_out {
  animation: slideMeOut 1s ease-in;
  }
  
  @keyframes slideMe {
  0% {
  transform: translateX(-150px);
  opacity: 0;
  }
  
  100% {
  transform: translateX(0px);
  opacity: 1;
  }
  }
  
  @keyframes slideMeOut {
  0% {
  transform: translateX(150px);
  opacity: 0;
  }
  
  100% {
  transform: translateX(0px);
  opacity: 1;
  }
  }
  
  .fade_in {
  animation: fadeMe 1s ease-in;
  animation-fill-mode: backwards;
  }
  
  @keyframes fadeMe {
  0% {
  opacity: 0;
  
  transform: scale(0.8, 0.8);
  }
  
  100% {
  opacity: 1;
  transform: scale(1, 1);
  }
  }
  
  .delay-1 {
  animation-delay: 0.8s;
  }
  
  .delay-2 {
  animation-delay: 2.1s;
  }
  
  .delay-3 {
  animation-delay: 1.1s;
  }
  
  .delay-4 {
  animation-delay: 1.5s;
  }
  
  .delay-6 {
  animation-delay: 2.4s;
  }
  
  .delay-7 {
  animation-delay: 1.5s;
  }
  
  .delay-8 {
  animation-delay: 2.7s;
  }
  
  .delay-9 {
  animation-delay: 1s;
  }
  
  .delay-10 {
  animation-delay: 2.2s;
  }
  
  .delay-11 {
  animation-delay: 1.7s;
  }
  
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
  font-size: 1em;
  color: #999;
  top: 10px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
  }
  
  .contact_div {
  min-height: 60vh;
  width: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  }
  
  .contact_div > ul {
  width: fit-content;
  margin-bottom: 0rem;
  }
  .contact_div {
  overflow: hidden;
  }
  
  .big_contact {
  position: relative;
  width: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
  }
  
  .styled-input {
  float: left;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
  font-size: 10px;
  }
  
  .styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 20px;
  }
  
  .input_class {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  }
  
  input:focus,
  textarea:focus {
  outline: 0;
  }
  
  input:focus ~ span,
  textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
  }
  
  textarea {
  width: 100%;
  min-height: 15em;
  }
  
  .input-container {
  margin: 20px auto 25px auto;
  }
  
  .submit-btn {
  padding: 7px 20px;
  border-radius: 60px;
  display: inline-block;
  color: white;
  font-size: 18px;
  border: none;
  width: fit-content;
  }
  
  .submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.09);
  }
  
  input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
  }
  
  input[type="checkbox"]:checked + label {
  font-style: normal;
  }
  
  .reveal {
  position: relative;
  opacity: 0;
  animation-fill-mode: backwards;
  }
  
  .reveal.active {
  opacity: 1;
  animation-delay: 1s;
  }
  
  .active.fade-left {
  animation: fade-left 1s ease-in;
  }
  
  .active.fade-right {
  animation: fade-right 1s ease-in;
  }
  
  @keyframes fade-left {
  0% {
  transform: skew(45deg) translateX(-30%);
  opacity: 0;
  }
  
  100% {
  transform: translateX(0);
  opacity: 1;
  }
  }
  
  @keyframes fade-right {
  0% {
  transform: skew(45deg) translateX(+30%);
  opacity: 0;
  }
  
  100% {
  transform: translateX(0);
  opacity: 1;
  }
  }
  
  .footer_text {
  color: white;
  }
  
  /* CSS */
  .resume_button {
  --b: 3px;
  /* border thickness */
  --s: 0.45em;
  /* size of the corner */
  
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
  from 90deg at var(--b) var(--b),
  #0000 90deg,
  var(--alpha-green) 0
  )
  var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
  calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 1.9em;
  font-weight: 900;
  border: 0;
  font-family: "OpenSansCondensed-Light";
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  }
  
  .resume_button:hover,
  .resume_button:focus-visible {
  --_p: 0px;
  outline-color: var(--alpha-green);
  outline-offset: 0.05em;
  text-decoration: none;
  color: var(--color);
  }
  
  .resume_button:active {
  background: var(--alpha-green);
  color: #fff;
  }
  
  .social_a,
  .social_a:visited,
  .social_a:hover,
  .social_a:active {
  color: inherit;
  }
  
  @keyframes shake {
  10%,
  90% {
  transform: translate3d(-1px, 0, 0);
  }
  
  20%,
  80% {
  transform: translate3d(2px, 0, 0);
  }
  
  30%,
  50%,
  70% {
  transform: translate3d(-4px, 0, 0);
  }
  
  40%,
  60% {
  transform: translate3d(4px, 0, 0);
  }
  }
  @media screen and (min-width: 320px) and (max-width: 786px) {

  .home_div,
  .about_div,
  .all_project_div {
  position: relative;
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  }
  

  .descr_p {
    font-size: 2.0em;
    font-weight: 600;
    
    }

  .header_style {
  font-size: 10em;
  white-space: nowrap;
  letter-spacing: 0em;
  color: rgb(97, 97, 97);
  }
  
  .project_text {
  text-align: center;
  }
  .header_shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  animation-delay: 2s;
  transform: translate3d(0, 0, 0);
  }
  
  .right_side
  {
  display: none;
  }
 
  .about_left_div,
  .left_side {
  width: 100%;
  min-height: 75vh;
  }
  
  .project_card_div {
  position: relative;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  }
  
  .styled-input {
  width: 100%;
  }
  
  .big_contact {
  width: 95%;
  }
  .contact_social {
  margin: 15px 0px 5px 0px;
  }
  }